* {
    font-family: "Work Sans", sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 45px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>h3 {
    color:  #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li>a {
    text-decoration: none;

    color: var(--Dark-02, #424242);
    font-size: 1.125rem;
    font-weight: 500;
}

/* banner part */
.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-description {
    color: var(--Dark-03, #727272);
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 20px 24px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 75px auto 130px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content {
   padding-left: 76px;
   padding-right: 76px;
}

.quick {
    color: #727272;
    font-size: 2.8125rem;
    font-weight: 500;
}

.of {
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 2.8125rem;
    font-weight: 700;
}

.features-title {
    max-width: 468px;
}

.features-des {
    max-width: 537px;
    color: #727272;
    line-height: 26px;
    margin-top: 1.5rem;
}
/* facts part */
.fact-title{
font-size: 2.8125rem;
font-weight: 700;
margin-bottom: 0;
}
.fact-des{
    margin-top: 24px;
    max-width: 542px;
    color: #727272;
    line-height: 26px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100.08px;
}
.facts-card-container img{
    padding-bottom: 10px;
}
.card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;

padding: 45.92px 50.92px 59.92px 40.92px;
}
.card-stats{
    color:  #424242;
font-size: 45px;
font-weight: 600;
margin: 0px;
}
.card-title{
    color: #727272;
font-size: 20px;
font-weight: 600;
margin: 0px;
}
/* sponsor part */
.sponsors{
    text-align: center;
}
.section-title{
    color: #131313;
font-size: 2.8125rem;
font-weight: 700;
margin-top: 100px;
margin-bottom: 0px;
}
.sponsor-des{
    color: #727272;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}
.sponsors-img-container img{
    max-width: 165px;
}
/* for responsive */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav, .teams-container, .facts-card-container,.sponsors-img-container {
        flex-direction: column;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
     }
     .facts-card-container{
        gap: 20px;
     }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav,.teams-container,.sponsors-img-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
    
}
