* {
    font-family: "Work Sans", sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 45px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>h3 {
    color: var(--Dark-01, #131313);
    font-size: 2.8125rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li>a {
    text-decoration: none;

    color: var(--Dark-02, #424242);
    font-size: 1.125rem;
    font-weight: 500;
}

/* banner part */
.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-description {
    color: var(--Dark-03, #727272);
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 20px 24px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 75px auto 130px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content {
   padding-left: 76px;
   padding-right: 76px;
}

.quick {
    color: #727272;
    font-size: 2.8125rem;
    font-weight: 500;
}

.of {
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 2.8125rem;
    font-weight: 700;
}

.features-title {
    max-width: 468px;
}

.features-des {
    max-width: 537px;
    color: #727272;
    line-height: 26px;
    margin-top: 1.5rem;
}
/* for responsive */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav, .teams-container {
        flex-direction: column;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
     }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav,.teams-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
    
}
